<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSHealthShareUsageDescription</key>
	<string>Active Insulin uses Healthkit to read Insulin Data</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Active Insulin uses Healthkit to store Insulin Data</string>
	<key>NSSiriUsageDescription</key>
	<string>Active Insulin uses Siri to display relevant information on the Siri Watchface</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>AddInsulinIntent</string>
		<string>com.kingstinct.INsulin.displayIOB</string>
	</array>
</dict>
</plist>
